{
  "identities": [
    {
      "name": "infra-admin",
      "credentials": [
        {
          "accessKey": "${SEAWEEDFS_S3_ACCESS_KEY}",
          "secretKey": "${SEAWEEDFS_S3_SECRET_KEY}"
        }
      ],
      "actions": [
        "Admin",
        "Read",
        "Write",
        "List",
        "Tagging",
        "DeleteBucket",
        "CreateBucket"
      ]
    }
  ]
}
